@page
@model PartShop.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vehicle Parts Shop</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>
    <!-- Logo & title -->
    <div class="container">
        <img class="logo" src="../assets/images/logo.png" alt="Logo">
        <h1 class="title"><strong>Vehicle Parts Shop</strong></h1>
    </div>

    <style>
        .container {
            max-width: 1920px;
            margin: 0 auto;
            padding: 20px;
        }
    </style>

    <!-- Search bar -->
    <form method="post" class="search-form">
        <div class="input-group">
            <input type="text" name="searchString" class="form-control" placeholder="Search for products" aria-label="Search" aria-describedby="button-addon2">
            <button type="submit" value="Search" />
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>
    </form>

    @if(Model != null && Model.Producto != null)
    {
        <h3>Number of products: @Model.Producto.Count()</h3>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2><strong>Product Gallery</strong></h2>
                </div>
            </div>
            <div class="row">
                @if (Model.Producto.Count() > 0)
                {
                    @foreach (var producto in Model.Producto)
                    {
                        <div class="col-md-3">
                            <div class="gallery-item">
                                <img src="../assets/product4.jpg" alt="Product 1" class="img-fluid">
                                <p><strong>@producto.Nombre</strong></p>
                                <p>@producto.Descripcion</p>
                                <p><strong>RD$ @producto.ValorCodigo</strong></p>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <p>No products found.</p>
                }
            </div>
        </div>
    }

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>&copy; 2023 Vehicle Parts Shop. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>
</body>

    <style>
            /* Minimalistic design with white and blue as primary colors */
            body {
                background: url("") no-repeat center center fixed;
                background-size: cover;
            }

            .container {
                max-width: auto;
                margin: 0 auto;
                padding: 20px;
            }
    
            h1 {
                color: #0080ff;
                text-align: center;
                margin-bottom: 30px;
            }
    
            form {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 50px;
            }
    
            input[type=text] {
                padding: 10px;
			    border-radius: 5px 0 0 5px;
                outline: none;
            }
    
    	    button[type=submit] {
                padding: 19px;
                background-color: #0080ff;
                color: white;
                border: none;
                border-radius: 0 5px 5px 0;
                cursor: pointer;
            }
    
            button[type=submit]:hover {
                background-color: #005c99;
            }
    
            /* Navigation bar styles */
            .navbar {
                overflow: hidden;
                background-color: #0080ff;
                font-family: Arial, sans-serif;
            }

            .navbar a {
                float: left;
                font-size: 16px;
                color: white;
                text-align: center;
                padding: 5px 10px;
                text-decoration: none;
            }

            .navbar a:hover {
                background-color: #005c99;
            }

            nav {
              display: flex;
              justify-content: flex-start;
              align-items: center;
            }


            /* Title styles */
            .title {
                color: #0080ff;
                text-align: center;
                margin-bottom: 30px;
                font-size: 36px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
        
            /* Logo styles */
            .logo {
                display: block;
                margin: 0 auto;
                max-width: 200px;
                margin-bottom: 20px;
            }

            /* Gallery styles */
            .gallery {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin: 10px;
            
            }
            .gallery-item {
                margin: 10px;
                padding: 15px;
            }
            .gallery-item img {
                max-width: 400px;
                max-height: 300px;
                height: auto;
                transition: transform 0.3s ease-in-out;
                padding: 50px;
                justify-content: space-evenly;
            }
            .gallery-item img:hover {
                transform: scale(1.1);
            }
		    .pusher{
			    margin-left: 80%;
		    }
    </style>
</html>


