@page
@model PartShop.Pages.IntegracionModel
@{
}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>PartShop</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />

</head>
<body>
    

        <section class="Form my-4 mx-5">

            <div class="container">
                <div class="row no-gutters">
                    
                    <div class="col-lg-9 px-5 pt-5" >
                        
                        <p class="lead" >
                            <img src="./css/reparacion.png" alt="" height="70">
                            GESTION DE REPARACION VEHICULOS 
                        </p>
                    </div>
                    <br />

                    <div class="container">
                        
                    </div>
                </div>
                <br />


                <table class="table table-striped table-hover" style="font-size: small; width: 1200px; align-self: center; margin-left: 20px;">
                <thead>
                    <tr>
                        <th scope="col">Matricula</th>
                        <th scope="col">Chasis</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Modelo</th>
                        <th scope="col">Color</th>
                        <th scope="col">Accion</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr>
                        <th scope="row">A58789</th>
                        <td>123456789</td>
                        <td>Honda</td>
                        <td>Civic</td>
                        <td>Negro</td>
                        <td><button class="btn-outline-success btn-sm">Reparar</button></td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </section>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

</body>
</html>
