@page
@model PagoRealizadoModel
@{
    ViewData["Title"] = "Pago realizado!";
}

<div class="row container">
    <div class="col-12 text-center">
        <h1>¡Pago realizado!</h1>
        <h3>Espere mientras lo redireccionamos...</h3>
    </div>
</div>