@page
@model IndexModel
@{
    ViewData["Title"] = "ShoppingCart";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vehicle Parts Shop</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

 
</head>

<body>

	
		<div class="ShoppingCart">
        <div class="card-header">
            <p class="lead" style="align-self:center;">Mi Pedido</p>
        </div>
			<div class="col-md-18">
		
			<br/>
			  <table id="cart">
				<thead>
				  
				</thead>
				<tbody>
                            <tr>
                        <div class="card" style="width: 50rem; height: 19rem">
                            <br/>
                                <div class="card" style="width: 10rem; height: 12rem">
                                    <br/>
                                    <div class="card-header">
                                    <p class="form" style="align-self:center;">Producto A</p>
                                    </div>
                                    
                                    <div class="card-body">
                                <img src="../assets/product2.jpg" class="card-img-fluid" style="width: 8rem; height: 6rem" alt="...">
                                     </div>
                                <ul class="pagination" style="align-self:center;">
                                <li class="page-item"><a class="page-link" href="#"> - </a></li>

                                    <input type="text" class="form-control"  aria-describedby="inputGroup-sizing-sm" style="width:15px;">

                                <li class="page-item"><a class="page-link" href="#"> + </a></li>
                                </ul>
                                <button type="button" class="btn btn-outline-danger btn-sm" style="align-self:center;">Delete</button>



                            </div>
                        </div>

                            </tr>
				</tbody>
			
			  </table>
			</div>
		 
	</div>
   
	<!-- CHECKOUT -->
	
	<div class="checkout">
        <br/>
		<form type="submit">
            <div class="d-grid gap-2">
                <button class="btn btn-outline-success" type="button">Realizar Pago</button>
              
            </div>
		</form>
	</div>
	
    <!-- Footer -->
    <br />
    <br />
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>&copy; 2023 Vehicle Parts Shop. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>

</body>

<style>
        /* Minimalistic design with white and blue as primary colors */
	
		.container {
            max-width: 1920px;
            margin: 0 auto;
            padding: 20px;
        }
	
        body {
            background: url("") no-repeat center center fixed;
            background-size: cover;
        }
    
        h1 {
            color: #0080ff;
            text-align: center;
            margin-bottom: 30px;
        }
    
        /* Navigation bar styles */
        .navbar {
            overflow: hidden;
            background-color: #0080ff;
            font-family: Arial, sans-serif;
        }

        .navbar a {
            float: left;
            font-size: 16px;
            color: white;
            text-align: center;
            padding: 5px 10px;
            text-decoration: none;
        }

        .navbar a:hover {
            background-color: #005c99;
        }

        nav {
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }


        /* Title styles */
        .title {
            color: #0080ff;
            text-align: center;
            margin-bottom: 30px;
            font-size: 36px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        
        /* Logo styles */
        .logo {
            display: block;
            margin: 0 auto;
            max-width: 200px;
            margin-bottom: 20px;
        }
		.pusher{
			margin-left: 70%;
		}
	
		#cart {
		  width: 100%;
		  border-collapse: collapse;
		}

		#cart th, #cart td {
		  border: 1px solid black;
		  padding: 5px;
		  text-align: center;
		}

		#products li {
		  cursor: pointer;
		  margin-bottom: 5px;
		}
	
	.button{
		background-color: #0B64B7;
		color: #FFFFFF;
		padding: 15px;
		font-size:15px;
		margin-left: 93%;	
	}
	
	#cartTitle{
		color: #0080FF;
	}

    </style>
</html>
