@page
@model PartShop.Pages.Producto.CreateModel

@{
    ViewData["Title"] = "Create";
}
<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    body {
        background: rgb(219, 226, 226);
    }

    .row {
        background: white;
        border-radius: 30px;
        box-shadow: 12px 12px 22px grey;
        width: 1400PX;
        align-self: center;
    }

    img {
        border-top-left-radius: 140px;
        border-bottom-left-radius: 20px;
        height: 180px;
        width: 180px;
        align-self: left;
    }

    .btn1 {
        border: none;
        outline: none;
        height: 50px;
        width: 100%;
        background-color: black;
        color: white;
        border-radius: 4px;
        font-weight: bold;
    }

        .btn1:hover {
            background: white;
            border: 1 px solid;
            color: black;
        }
</style>
<div class="container">
    <div class="row no-gutters">
        <div class="col-lg-7 px-5 pt-5">
            <div class="card-header" style="width:200%;">
<h1 class="lead" style="font-size:30px;">Agregar Nuevo Producto</h1>
</div>
<br/>
    <div class="col-md-3">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <div class="col-lg-7">
                        <label asp-for="Producto.Codigo" class="form-label"></label>
                        
                <input asp-for="Producto.Codigo" class="form-control" style="width:350%;"/>
                <span asp-validation-for="Producto.Codigo" class="text-danger"></span>
                        
                    </div>
                    </div>

            <div class="form-group">
                            <div class="col-lg-7">
                        <label asp-for="Producto.ValorCodigo" class="form-label"></label>
                            <input asp-for="Producto.ValorCodigo" class="form-control" style="width:350%;" />
                <span asp-validation-for="Producto.ValorCodigo" class="text-danger"></span>
            </div>
                        </div>

            <div class="form-group">
                                <div class="col-lg-7">
                        <label asp-for="Producto.Nombre" class="form-label"></label>
                            <input asp-for="Producto.Nombre" class="form-control" style="width:350%;" />
                <span asp-validation-for="Producto.Nombre" class="text-danger"></span>
            </div>
                            </div>

            <div class="form-group">
                                    <div class="col-lg-7">

                        <label asp-for="Producto.Descripcion" class="form-label"></label>
                            <input asp-for="Producto.Descripcion" class="form-control" style="width:350%;" />
                <span asp-validation-for="Producto.Descripcion" class="text-danger"></span>
               
            </div>
                                </div>

            <div class="form-group">
                                        <div class="col-lg-7">
                        <label asp-for="Producto.IdCategoria" class="form-label">Categoria</label>
                            <select asp-for="Producto.IdCategoria" class="form-control" style="width:350%;"  asp-items="ViewBag.IdCategoria"></select>
                                        </div>
                                    </div>
            <br/>
                    <div class="d-grid gap-6">

                <input type="submit" value="Crear" class="btn btn-outline-success" />
            </div>
        </form>
               
    </div>
            <div style="left:300%;">
                <a asp-page="Index">Back to List</a>
            </div>
           
</div>

<br/>

    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
